<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %>!</p>
    <h2>Messages:</h2>
    <% messages.forEach(function(msg) { %>
      <div class="message">
        <div class="message-user"><%= msg.user %>:</div>
        <div class="message-text"><%= msg.text %></div>
        <div class="message-date"><%= msg.added.toLocaleString() %></div>
      </div>
    <% }); %>
    <form action="/" method="POST">
      <input type="text" name="messageUser" placeholder="username" required>
      <input type="text" name="messageText" placeholder="text" required>
      <button type="submit">Send</button>
    </form>
  </body>
</html>
